.background{
    background-color: #00324e;
    min-height: 1000px;
}
.imgStyle{
    margin: auto;
    display: block;
    width: 204;
    height: 384;
}
.containerStyle{
    background-color: #fafafa;
}
h5{
    text-align: center;
}
h6{
    text-align: center;
}
.buttonStyle{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}
.descriptionWordColor{
    color:#006aa6;
    display: inline;
}
.contentWordColor{
    display: inline;
    margin: auto;
    position: absolute;
    left: 300px;
}